<div class="container mt-5">
  <div class="d-flex justify-content-between mb-3">
    <div class="d-flex justify-content-center">
      <%= image_tag "job.svg", class: "show-icon" %>
      <h1 class="m-0 ps-2">Jobs</h1>
    </div>

    <%= link_to '+ New Job', new_job_path, class: "d-flex align-items-center text-decoration-none" %>
  </div>

  <%= table_for @jobs, [:id, 'Job Title', 'Contact', 'Client', :status, 'Open', 'Employment Type', :salary, 'Created Date', 'Job Owner'], class: "table table-striped" do |job| %>
    <%= field link_to(job.id, job_path(job)) %>
    <%= field link_to("#{job.job_title}", job_path(job)) %>
    <%= field link_to("#{job.client_contact.first_name} #{job.client_contact.last_name}", client_contact_path(job.client_contact) ) %>
    <%= field link_to("#{job.client_contact.client.name}", client_path(job.client_contact.client)) %>
    <%= field job.status %>
    <%= field job.is_live ? "Yes" : "No" %>
    <%= field job.employment_type %>
    <%= field job.salary %>
    <%= field job.created_at.strftime("%d-%m-%Y") %>
    <%= field "#{job.user.first_name} #{job.user.last_name}" %>
  <% end %>
</div>
