<div class="container text-center my-5 py-5 rounded-5 shadow-lg">
  <h1>New Placement</h1>

  <% if params[:candidate_id] %>
    <%= simple_form_for([@candidate, @placement]) do |f| %>
      <%= f.input :candidate_id, as: :hidden, input_html: { value: @candidate.id, class: "w-50 mx-auto" } %>
      <%= f.input :candidate_name, label: "Candidate", input_html: { value: "#{@candidate.first_name} #{@candidate.last_name}", disabled: true, class: "w-50 mx-auto" } %>
      <%= f.input :job_id,
            collection: Job.all.map { |c| ["#{c.id} - #{c.job_title} - #{c.client_contact.client.name}", c.id] },
            include_blank: true,
            input_html:  { class: "w-50 mx-auto", data: { controller: "form" } } %>
      <%= f.input :start_date, as: :date, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :end_date, as: :date, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :employment_type, collection: [ "Full-time", "Contract" ], as: :select, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :status, collection: [ "Submitted", "Approved", "Terminated", "Did Not Start" ], as: :select, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :salary, input_html: { class: "w-50 mx-auto" } %>
      <%= f.submit "Save Placement", class: "btn btn-primary" %>
    <% end %>
  <% elsif params[:job_id] %>
    <%= simple_form_for([@job, @placement]) do |f| %>
      <%= f.input :job_id, as: :hidden, input_html: { value: @job.id, class: "w-50 mx-auto" } %>
      <%= f.input :job_title, label: "Job", input_html: { value: "#{@job.job_title}", disabled: true, class: "w-50 mx-auto" } %>
      <%= f.input :candidate_id,
        collection: Candidate.all.map { |candidate| ["#{candidate.id} - #{candidate.first_name} #{candidate.last_name}", candidate.id] },
        include_blank: true, input_html: { class: "w-50 mx-auto", data: { controller: "form" } } %>
      <%= f.input :start_date, as: :date, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :end_date, as: :date, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :employment_type, collection: [ "Full-time", "Contract" ], as: :select, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :status, collection: [ "Submitted", "Approved", "Terminated", "Did Not Start" ], as: :select, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :salary, input_html: { class: "w-50 mx-auto" } %>
      <%= f.submit "Save Placement", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= simple_form_for(@placement) do |f| %>
      <%= f.input :job_id,
            collection: Job.all.map { |c| ["#{c.id} - #{c.job_title} - #{c.client_contact.client.name}", c.id] },
            include_blank: true,
            input_html:  { class: "w-50 mx-auto", data: { controller: "form" } } %>
      <%= f.input :candidate_id,
        collection: Candidate.all.map { |candidate| ["#{candidate.id} - #{candidate.first_name} #{candidate.last_name}", candidate.id] },
        include_blank: true, input_html: { class: "w-50 mx-auto", data: { controller: "form" } } %>
      <%= f.input :start_date, as: :date, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :end_date, as: :date, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :employment_type, collection: [ "Full-time", "Contract" ], as: :select, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :status, collection: [ "Submitted", "Approved", "Terminated", "Did Not Start" ], as: :select, input_html: { class: "w-50 mx-auto" } %>
      <%= f.input :salary, input_html: { class: "w-50 mx-auto" } %>
      <%= f.submit "Save Placement", class: "btn btn-primary" %>
    <% end %>
  <% end %>

</div>
