<div class="container mt-5">
  <div class="d-flex justify-content-between mb-3">
    <div class="d-flex justify-content-center">
      <%= image_tag "placement.svg", class: "show-icon" %>
      <h1 class="m-0 ps-2">Placements</h1>
    </div>

    <%= link_to '+ New Placement', new_placement_path, class: "d-flex align-items-center text-decoration-none" %>
  </div>

  <%= table_for @placements, ['ID', 'Job Title', :candidate, 'Client', :client_contact, :status, :employment_type, :salary, 'Job ID', 'Created Date', 'Placement Owner'], class: "table table-striped" do |placement| %>
    <%= field link_to(placement.id, placement_path(placement)) %>
    <%= field link_to("#{placement.job.job_title}", placement_path(placement)) %>
    <%= field link_to("#{placement.candidate.first_name} #{placement.candidate.last_name}", candidate_path(placement.candidate) ) %>
    <%= field link_to("#{placement.job.client_contact.client.name}", client_path(placement.job.client_contact.client)) %>
    <%= field link_to("#{placement.job.client_contact.first_name} #{placement.job.client_contact.last_name}", client_contact_path(placement.job.client_contact) ) %>
    <%= field placement.status %>
    <%= field placement.employment_type %>
    <%= field placement.salary %>
    <%= field link_to(placement.job.id, job_path(placement.job)) %>
    <%= field placement.created_at.strftime("%d-%m-%Y") %>
    <%= field "#{placement.user.first_name} #{placement.user.last_name}" %>
  <% end %>
</div>
