<%= link_to "Edit Client", edit_client_path %>
<%= link_to "Delete Client", client_path(@client), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>


<h3><%= @client.id %></h3> <h1><%= @client.name %></h1>

<p><%= @client.sector %></p>
<p><%= @client.status %></p>
<p><%= @client.user.first_name %> <%= @client.user.last_name %></p>
<p><%= @client.created_at %></p>
