<div class="container my-5">
  <div class="d-flex justify-content-between mb-5">
    <div class="d-flex justify-content-center">
      <%= image_tag "company.svg", class: "show-icon" %>
      <h1 class="m-0 ps-2"><%= @client.name %></h1>
    </div>
    <div class="d-flex align-items-end">
      <%= link_to "Edit Client", edit_client_path, class: "text-decoration-none" %>
      <%= link_to "Delete Client", client_path(@client), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "ms-4 text-decoration-none"  %>
    </div>
  </div>

  <div class="container my-3 p-5 shadow rounded-5">
    <div class="row">
      <div class="col-md-4">
        <p class="text-secondary m-0">Client</p><h4><%= @client.name %></h4>
      </div>
      <div class="col-md-4">
        <p class="text-secondary m-0">Sector</p><h4><%= @client.sector %></h4>
      </div>
      <div class="col-md-4">
        <p class="text-secondary m-0">Status</p><h4><%= @client.status %></h4>
      </div>
      <div class="col-md-4 mt-5">
        <p class="text-secondary m-0">Client Owner</p><h4><%= @client.user.first_name %> <%= @client.user.last_name %></h4>
      </div>
      <div class="col-md-4 mt-5">
        <p class="text-secondary m-0">Created Date</p><h4><%= @client.created_at.strftime("%d-%m-%Y") %></h4>
      </div>
    </div>
  </div>

  <div class="accordion accordion-flush shadow mt-5" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <h5 class="m-0">Contacts</h5>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <% if @contacts.count == 0 %>
            <p>This job has no contacts yet!</p>
            <%= link_to "Add a contact", new_client_contact_path(@client) %>
          <% else %>
            <div class="mb-3 d-flex justify-content-end">
              <%= link_to "Add a contact", new_client_contact_path(@client) %>
            </div>
            <%= table_for @contacts, [:id, 'name', :client, :position, :status, :phone_number, :email, 'Created Date', 'Contact Owner'], class: "table table-striped" do |contact| %>
              <%= field link_to(contact.id, client_contact_path(contact)) %>
              <%= field link_to("#{contact.first_name} #{contact.last_name}", client_contact_path(contact)) %>
              <%= field link_to("#{contact.client.name}", client_path(contact.client) ) %>
              <%= field contact.position %>
              <%= field contact.status %>
              <%= field contact.phone_number %>
              <%= field contact.email %>
              <%= field contact.created_at.strftime("%d-%m-%Y") %>
              <%= field "#{contact.user.first_name} #{contact.user.last_name}" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h5 class="m-0">Jobs</h5>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <% if @jobs.count == 0 %>
            <p>This client has no jobs yet!</p>
            <%= link_to "Add a job", new_job_path(@client) %>
          <% else %>
            <%= table_for @jobs, [:id, 'Job Title', 'Contact', 'Client', :status, 'Open', 'Employment Type', :salary, 'Created Date', 'Job Owner'], class: "table table-striped" do |job| %>
              <%= field link_to(job.id, job_path(job)) %>
              <%= field link_to("#{job.job_title}", job_path(job)) %>
              <%= field link_to("#{job.client_contact.first_name} #{job.client_contact.last_name}", client_contact_path(job.client_contact) ) %>
              <%= field link_to("#{job.client_contact.client.name}", client_path(job.client_contact.client)) %>
              <%= field job.status %>
              <%= field job.is_live ? "Yes" : "No" %>
              <%= field job.employment_type %>
              <%= field job.salary %>
              <%= field job.created_at.strftime("%d-%m-%Y") %>
              <%= field "#{job.user.first_name} #{job.user.last_name}" %>
            <% end %>
            <%= link_to "Add a job", new_job_path(@client) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
