<%= link_to "Delete Submission", submission_path(@submission), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>


<h3><%= @submission.id %></h3> <h1><%= link_to("#{@submission.job.job_title}", job_path(@submission.job)) %></h1>

<p><%= link_to("#{@submission.candidate.first_name} #{@submission.candidate.last_name}", candidate_path(@submission.candidate)) %></p>
<p><%= link_to("#{@submission.job.client_contact.first_name} #{@submission.job.client_contact.last_name}", client_contact_path(@submission.job.client_contact)) %></p>
<p><%= link_to("#{@submission.job.client_contact.client.name}", client_path(@submission.job.client_contact.client)) %></p>
<p><%= @submission.user.first_name %> <%= @submission.user.last_name %></p>
<p><%= @submission.created_at %></p>
