<%= link_to "Edit Candidate", edit_candidate_path %>
<%= link_to "Delete Candidate", candidate_path(@candidate), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>

<h3><%= @candidate.id %></h3> <h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>

<p><%= @candidate.current_job_title %></p>
<p><%= @candidate.email %></p>
<p><%= @candidate.phone_number %></p>
<p><%= @candidate.current_job_title %></p>
<p><%= @candidate.user.first_name %> <%= @candidate.user.last_name %></p>
<p><%= @candidate.created_at %></p>

<h2>Submissions</h2>

<% if @candidate.submissions.count == 0 %>
  <p>This candidate has no submissions yet!</p>
  <%= link_to "Submit to a job", new_candidate_submission_path(@candidate) %>
<% else %>
  <%= table_for @candidate.submissions, [:id, :job, 'Contact', 'Client', 'Created Date', 'Owner'] do |submission| %>
    <%= field link_to(submission.id, candidate_submission_path(submission.candidate, submission)) %>
    <%= field link_to("#{submission.job.job_title}", job_path(submission.job)) %>
    <%= field link_to("#{submission.job.client_contact.first_name} #{submission.job.client_contact.last_name}", client_contact_path(submission.job.client_contact) ) %>
    <%= field link_to("#{submission.job.client_contact.client.name}", client_path(submission.job.client_contact.client)) %>
    <%= field submission.created_at %>
    <%= field "#{submission.user.first_name} #{submission.user.last_name}" %>
    <%= field link_to("Delete", submission_path(submission, redirect_to: candidate_path(@candidate)), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this submission?"}) %>
  <% end %>
  <%= link_to "Submit to a job", new_candidate_submission_path(@candidate) %>
<% end %>

<h2>Interviews</h2>

<% if @candidate.interviews.count == 0 %>
  <p>This candidate has no submissions yet!</p>
  <%= link_to "Add an interview", new_candidate_interview_path(@candidate) %>
<% else %>
  <%= table_for @candidate.interviews, [:id, 'Interview Date', :job, 'Type', 'Contact', 'Client', 'Created Date', 'Owner'] do |interview| %>
    <%= field link_to(interview.id, candidate_interview_path(interview.candidate, interview)) %>
    <%= field interview.interview_date %>
    <%= field link_to("#{interview.job.job_title}", job_path(interview.job)) %>
    <%= field interview.interview_type %>
    <%= field link_to("#{interview.job.client_contact.first_name} #{interview.job.client_contact.last_name}", client_contact_path(interview.job.client_contact) ) %>
    <%= field link_to("#{interview.job.client_contact.client.name}", client_path(interview.job.client_contact.client)) %>
    <%= field interview.created_at %>
    <%= field "#{interview.user.first_name} #{interview.user.last_name}" %>
    <%= field link_to("Edit", edit_candidate_interview_path(@candidate, interview)) %>
    <%= field link_to("Delete", interview_path(interview), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this interview?"}) %>
  <% end %>
  <%= link_to "Add an interview", new_candidate_interview_path(@candidate) %>
<% end %>
