<%= link_to "Edit Candidate", edit_candidate_path %>
<%= link_to "Delete Candidate", candidate_path(@candidate), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>

<h3><%= @candidate.id %></h3> <h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>

<p><%= @candidate.current_job_title %></p>
<p><%= @candidate.email %></p>
<p><%= @candidate.phone_number %></p>
<p><%= @candidate.current_job_title %></p>
<p><%= @candidate.user.first_name %> <%= @candidate.user.last_name %></p>
<p><%= @candidate.created_at %></p>
